/* .App {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-image: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png"); */
/* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcDyfqA9ESo_zl-VAewkCYchUZi2auDI_-k2T3Jw6xjUqjY_lTm7dpSCfD6zWKls0tMS4&usqp=CAU");
} */
