.home {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  @media (max-width: 767px) {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

.header-container {
  background-color: #244175;
  padding: 10px;
  border-radius: 10px;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.company-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.details {
  font-size: 1.1rem;
  color: white;
}
.details2 {
  font-size: 1.1rem;
  color: white;
  padding-bottom: 20px;
}

.form-header {
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
}
.form-header-label {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
}

.form-checkboxes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  @media (max-width: 767px) {
    margin-bottom: 10px;
    /* justify-content: center; */
  }
}

input[type="radio"] {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.form-input {
  display: inline-block;
  flex: 0 0 20%;
  box-sizing: border-box;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 15px;
  text-align: center;
  justify-content: space-around;
  @media (max-width: 767px) {
    flex: 0 0 calc(40% - 10px);
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: space-around;
  }
}

.form-input label {
  display: block;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  @media (max-width: 767px) {
    flex-direction: row;
    flex-basis: calc(
      40% - 10px
    ); /* Two checkboxes in a row with a little spacing */
    margin-right: 10px; /* Add some spacing between checkboxes */
    margin-bottom: 10px;
    font-size: 0.8rem;
    /* height: 50px; */
    height: 40px;
    width: 80px;
  }
}

.form-input label:hover {
  background-color: #e0e0e0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.form-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: border-color 0.3s ease-in-out;
}

.form-input input:focus {
  border-color: #3498db;
  outline: none;
}

.button_wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 20px;
}

/* Styles for the button wrapper */
.button_wrapper {
  position: relative;
  margin-bottom: 5%;
  /*margin-top: 20px; Add margin to push the button below the content */
  display: flex;
  justify-content: space-between;
  padding: 0 20px; /* Add padding for spacing between buttons and edges */
}

/* Styles for the common button class */
.button_common {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Styles for the button when hovered */
.button_common:hover {
  background-color: #0056b3;
}

.form-selected-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.selected-type {
  margin: 0;
  display: block;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.change-button {
  padding: 5px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: right;
}

.change-button:hover {
  background-color: #0056b3;
}

/* 
.property-info-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  @media (max-width: 767px) {
    padding: 10px;
    overflow-x: hidden;
}
}

.property-info-column .input-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: 1fr; 
}
}

.property-info-column .input-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 40px; 
  @media (max-width: 767px) {
    font-size: 1rem;
}
}

.property-info-column label {
  margin-bottom: 5px;
  align-self: flex-start;
  @media (max-width: 767px) {
    font-size: 1rem;
}
}

.property-info-column .input-field {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
  @media (max-width: 767px) {
    padding: 10px;
    overflow-x: hidden;
}
}

.property-info-column .input-field:focus {
  outline: none;
  border-color: #007bff;
}

.property-info-column .input-group::after {
  content: "";
  display: table;
  clear: both;
} */

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}

/* Apply styles to table header cells */
th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Apply alternating row background colors for better readability */
tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Apply styles to table data cells */
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Style the "Add Row" button */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.home-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  overflow: hidden;
}

.loading-container {
  text-align: center;
  justify-content: center;
}

.loading-spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 20px;
  font-size: 20px;
  color: #3498db;
}
.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-row {
  flex: 1 0 calc(40% - 10px); /* This will make two inputs fit in one row, considering 10px as the gap between two inputs */
  margin-bottom: 20px; /* Add some space between rows */
  position: relative;
  padding: 0 5px;
  @media (max-width: 767px) {
    flex: 0 0 90%;
  }
}

.input-row label {
  position: absolute;
  top: -20px; /* Adjust as needed */
  left: 0;
  font-size: 0.8em; /* Adjust as needed */
  color: #333; /* Adjust as needed */
}

.input-row input {
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  @media (max-width: 767px) {
    border-radius: 20px;
    width: 80%;
  }
}

/* Home.module.css */

.remote-Table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.header-Table {
  display: table-header-group;
}

.body-Table {
  display: table-row-group;
}

.row-header-Table,
.row-body-Table {
  display: table-row;
}

.column-header-Table,
.column-body-Table {
  display: table-cell;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.column-header-Table {
  background-color: #f2f2f2;
  font-weight: bold;
}

.column-body-Table input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.column-body-Table button {
  background-color: #4caf50;
  color: white;
  padding: 10px 24px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-align: center;
}

.column-body-Table button:hover {
  background-color: #45a049;
}

.input-field {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

.add-button {
  padding: 5px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: right;
  height: 2rem;
  width: auto;
}

.add-button:hover {
  background-color: #0056b3;
}

.textInput-container {
  display: flex;

  @media (max-width: 767px) {
    flex-wrap: wrap;
    /* display on nextline */
  }
}
